.header-area {
  height: 80px;
  width: 100%;
  background-color: white !important;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.196);
  display: flex;
}

.header-sec {
  height: 100%;
  width: 80%;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.header-row {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo  */

.instagram-logo-container {
  height: 30px;
}

.instagram-logo {
  height: 100%;
}

/* searchbar  */

.header-searchbar-area {
  height: 100%;
  width: 100%;
}

.header-search-bar {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-search-input {
  width: 100%;

  background-color: #efefef;
  border: none;
  outline: none;
}

/* menu icons  */

.header-menu-area {
}

/* *********************media queries*********************  */

/* Extra extra large	xxl	≥1400px */
@media (min-width: 1400px) {
}

/* Extra large	xl	≥1200px */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Large	lg	≥992px */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Medium	md	≥768px */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small	sm	≥576px */
@media (min-width: 576px) and (max-width: 767px) {
  .header-sec {
    width: 100%;
  }
}

/* X-Small	None	<576px */
@media (min-width: 0px) and (max-width: 575px) {
  .header-sec {
    width: 100%;
  }
}
