* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  background-color: whitesmoke !important;
}

.home-area {
  background-color: whitesmoke;
}
